{
    "port": 8080,
    "inspector": {
        "enabled": false,
        "host": "localhost",
        "port": 8086,
        "username": "curvytron",
        "password": "curvytron",
        "database": "curvytron"
    }
}
